.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-start {
    justify-content: start;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.margin-auto.margin-auto {
    margin: auto;
}

.w100 {
    width: 100%;
}