html,
body,
#root,
.app-layout {
  height: 100%
}

.navbar {
  font-weight: 500;
}

.bg-dark hr {
  border-color: #ff5722;
}

.bg-light hr {
  border-color: black;
}

.bg-open-gray {
  background-color: #303030 !important;
}